.config h3{
    margin-top: 50px;
}
.config h3 a{
    color: #333;
    text-decoration: none;
}

.config h3 a:hover{
    text-decoration: underline;
}

.config .desc{
    font-size: 12px;
}
.config .desc dl{
    margin: 10px 0;
}
.config .desc dt{
    display: inline-block;
    width: 40px;
    color: #999;
}
.config .desc dd{
    display: inline-block;
    padding: 0;
    margin: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
th,td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
thead{
    background-color: #eee;
}
